<footer>
      <div class="footer-container">
        <div class="footer-links">
          <div class="customer-service">
            <h5>Atención al cliente</h5>
            <ul>
              <li><a href="/formas-de-pago">Formas de pago</a></li>
              <li><a href="/metodos-de-envio">Métodos de Envío</a></li>
              {# <li><a href="#">Cambios & Devoluciones</a></li> #}
              <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>
              <li><a href="/contactanos">Contáctanos</a></li>
              {# <li><a href="#">Libro de Reclamaciones</a></li> #}
            </ul>
          </div>
          <div class="about-us">
            <h5>Nosotros</h5>
            <ul>
              <li><a href="/sobre-nosotros">Quiénes somos</a></li>
              <li><a href="/ventas-mayoristas">Ventas Mayoristas</a></li>
              <li><a href="/trabaja-con-nosotros">Trabaja con nosotros</a></li>
              <li>Horario de Atención: LUN-VIE 9:00 AM A 6:00 PM</li>
            </ul>
          </div>
          <div class="social-media">
            <h5>Redes</h5>
            <a href="/" target="_blank" rel="noopener noreferrer"><img src="/img/facebook.svg" alt="Facebook" /></a>
            <a href="/" target="_blank" rel="noopener noreferrer"><img src="/img/instagram.svg" alt="Instagram" /></a>
            <a href="/" target="_blank" rel="noopener noreferrer"><img src="/img/tiktok.svg" alt="TikTok" /></a>
          </div>
        </div>
      </div>
    </footer>