<section class="header">
	<select id="filtroCategoria">
  <option value="todas">Todas</option>
  <option value="camisetas">Polos para mujer</option>
  <option value="blusas">Blusas para mujer</option>
</select>

<input type="text" id="busquedaNombre" placeholder="Buscar producto...">
</section>